<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/about.css">
    <title>Document</title>
</head>
<body>
    
    <header class="container">
        <section class="header">
            <a href="../view/home.html"><img src="../assets/img/home/icon.png" alt="" class="logo"></a>

            <nav class="navbar">
                <a href="../view/home.html">Home</a>
                <a href="../view/about.html">About</a>
                <a href="">News</a>
                <a href="">Contact</a>
            </nav>
        </section>
    </header>

    <div>
        <h1>About us</h1>
        <img src="../assets/img/home/navHome.png" alt="">
    </div>


    <main>

        <div class="aboutSection">
            <img class="imgAbout" src="../assets/img/home/navHome.png" alt="">
            <div class="text-box">
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa soluta cupiditate culpa nulla.
                    Pariatur totam eveniet deleniti aut dolorum quod ipsa explicabo accusantium animi eligendi, eaque
                    illum, labore dolorem. Quo.
                </p>
            </div>
        </div>

        <div class="aboutSectionRight">      
            <div class="text-box-Right">
                <p class="textRight">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa soluta cupiditate culpa nulla.
                    Pariatur totam eveniet deleniti aut dolorum quod ipsa explicabo accusantium animi eligendi, eaque
                    illum, labore dolorem. Quo.
                </p>
            </div>
            <img class="imgAboutRight" src="../assets/img/home/navHome.png" alt="">
        </div>

        <div class="aboutSection" style="padding-bottom: 100px;">
            <img class="imgAbout" src="../assets/img/home/navHome.png" alt="">
            <div class="text-box">
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa soluta cupiditate culpa nulla.
                    Pariatur totam eveniet deleniti aut dolorum quod ipsa explicabo accusantium animi eligendi, eaque
                    illum, labore dolorem. Quo.
                </p>
            </div>
        </div>


    </main>

    <footer class="footer">
        <div class="footer-box">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>