<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/home.css">
    <title>Home</title>
</head>

<body>
    <button class="scroll-top-btn" onclick="scrollToTop()">↑</button>

    <header class="container">

        <h1 class="tittle">EcoMania</h1>
        <section class="header">
            <a href="../view/home.html"><img src="../assets/img/home/icon.png" alt="" class="logo"></a>
            <nav class="navbar">
                <a href="../view/home.html">Home</a>
                <a href="../view/about.html">About</a>
                <a href="">News</a>
                <a href="">Contact</a>
            </nav>
        </section>

    </header>

    <main>

        <div class="cardGif">
            <img src="../assets/img/home/contaminacionGif.gif" alt="" class="gif">
            <h1>192 Toneladas</h1>
        </div>

        <div class="cardGif">
            <img src="../assets/img/home/plantandoGIf.gif" alt="" class="gif">
            <h1>2500 Arboles</h1>
        </div>

        <div class="cardGif">
            <img src="../assets/img/home/edificioGif.gif" alt="" class="gif">
            <h1>255 Empresas Apoyando</h1>
        </div>

        <div class="aboutSection">
            <img class="imgAbout" src="../assets/img/home/navHome.png" alt="">
            <div class="text-box">
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa soluta cupiditate culpa nulla.
                    Pariatur totam eveniet deleniti aut dolorum quod ipsa explicabo accusantium animi eligendi, eaque
                    illum, labore dolorem. Quo.
                </p>
            </div>
        </div>


    <section class="news-box">
        
        <a href="https://codetheweb.blog/" target="_blank" class="tittle-news">News</a>

        <section class="cards-wrapper">

            <div class="card-grid-space">
                <a class="card" href="https://codetheweb.blog/2017/10/06/html-syntax/"
                    style="background: url('../assets/img/home/botellas.jpg') no-repeat; background-size: cover;">
                    <div>
                        <h1>HTML Syntax</h1>
                        <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
                        <div class="date">6 Oct 2017</div>
                        <div class="tags">
                            <div class="tag">HTML</div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="card-grid-space">
                <a class="card" href="https://codetheweb.blog/2017/10/09/basic-types-of-html-tags/"
                    style="background: url('../assets/img/home/bosque.jpg') no-repeat; background-size: cover;">
                    <div>
                        <h1>Basic types of HTML tags</h1>
                        <p>Learn about some of the most common HTML tags…</p>
                        <div class="date">9 Oct 2017</div>
                        <div class="tags">
                            <div class="tag">HTML</div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="card-grid-space">
                <a class="card" href="https://codetheweb.blog/2017/10/14/links-images-about-file-paths/"
                    style="background: url('../assets/img/home/fabrica.jpg') no-repeat; background-size: cover;">
                    <div>
                        <h1>Links, images and about file paths</h1>
                        <p>Learn how to use links and images along with file paths…</p>
                        <div class="date">14 Oct 2017</div>
                        <div class="tags">
                            <div class="tag">HTML</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="card-grid-space">
                <a class="card" href="https://codetheweb.blog/2017/10/14/links-images-about-file-paths/"
                style="background: url('../assets/img/home/mar.jpg') no-repeat; background-size: cover;">
                    <div>
                        <h1>Links, images and about file paths</h1>
                        <p>Learn how to use links and images along with file paths…</p>
                        <div class="date">14 Oct 2017</div>
                        <div class="tags">
                            <div class="tag">HTML</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="card-grid-space">
                <a class="card" href="https://codetheweb.blog/2017/10/14/links-images-about-file-paths/"
                style="background: url('../assets/img/home/señoraPiña.jpg') no-repeat; background-size: cover;">
                    <div>
                        <h1>Links, images and about file paths</h1>
                        <p>Learn how to use links and images along with file paths…</p>
                        <div class="date">14 Oct 2017</div>
                        <div class="tags">
                            <div class="tag">HTML</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="card-grid-space">
                <a class="card" href="https://codetheweb.blog/2017/10/14/links-images-about-file-paths/"
                style="background: url('../assets/img/home/rio.jpg') no-repeat; background-size: cover;">
                    <div>
                        <h1>Links, images and about file paths</h1>
                        <p>Learn how to use links and images along with file paths…</p>
                        <div class="date">14 Oct 2017</div>
                        <div class="tags">
                            <div class="tag">HTML</div>
                        </div>
                    </div>
                </a>
            </div>

        </section>
    </section>
</main>

<footer class="footer">
    <div class="footer-box">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

    <script src="../assets/js/scripts.js"></script>
</body>

</html>